body{
    background-color: #575781ed;
    color:#ffffff;
}

.acc-item{
    background-color: #575781ed;
    color:#ffffff;
}

.acc-btn{
    background-color: #575781ed !important; 
    color: #ffffff;
    font-size: 1em;
    padding: 8px 10px;
}
